@media (max-width: 575.98px) {
  .meun-col {
    background: #091a32;
    position: fixed;
    padding-bottom: 20px;
  }
  .meun-col .logoBox {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }
  .meun-col .navbarIcon {
    color: #fff;
  }
  .meun-col .menuBox {
    padding-top: 50px;
    margin-left: 60px;
    position: relative;
  }
  .meun-col .menuBox .menuList {
    list-style-type: none;
  }
  .meun-col .menuBox .menuList .menuItem {
    padding-bottom: 19px;
  }
  .meun-col .menuBox .menuList .menuItem .menuLink {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .meun-col .socialBoxIcon {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 26px;
  }
  .meun-col .socialBoxIcon .socialIcon {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink {
    color: #ffffff;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink:hover {
    color: #E3872D;
  }
  .meun-col .arrowBox {
    position: absolute;
    top: 400px;
    left: 198px;
  }
  .meun-col .arrowBox .btnArrow {
    cursor: pointer;
    background: #E3872D;
    color: #fff;
    border-radius: 0;
    position: absolute;
  }
  .meun-col .arrowBox .btn-left {
    top: 8px;
    left: 24px;
    height: 36px;
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .meun-col {
    background: #091a32;
    position: fixed;
    padding-bottom: 20px;
  }
  .meun-col .logoBox {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }
  .meun-col .navbarIcon {
    color: #fff;
  }
  .meun-col .menuBox {
    padding-top: 50px;
    margin-left: 60px;
    position: relative;
  }
  .meun-col .menuBox .menuList {
    list-style-type: none;
  }
  .meun-col .menuBox .menuList .menuItem {
    padding-bottom: 19px;
  }
  .meun-col .menuBox .menuList .menuItem .menuLink {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .meun-col .socialBoxIcon {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 26px;
  }
  .meun-col .socialBoxIcon .socialIcon {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink {
    color: #ffffff;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink:hover {
    color: #E3872D;
  }
  .meun-col .arrowBox {
    position: absolute;
    top: 400px;
    left: 198px;
  }
  .meun-col .arrowBox .btnArrow {
    cursor: pointer;
    background: #E3872D;
    color: #fff;
    border-radius: 0;
    position: absolute;
  }
  .meun-col .arrowBox .btn-left {
    top: 8px;
    left: 24px;
    height: 36px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .meun-col {
    background: #091a32;
    position: fixed;
    padding-bottom: 20px;
  }
  .meun-col .logoBox {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }
  .meun-col .navbarIcon {
    color: #fff;
  }
  .meun-col .menuBox {
    padding-top: 50px;
    margin-left: 60px;
    position: relative;
  }
  .meun-col .menuBox .menuList {
    list-style-type: none;
  }
  .meun-col .menuBox .menuList .menuItem {
    padding-bottom: 19px;
  }
  .meun-col .menuBox .menuList .menuItem .menuLink {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .meun-col .socialBoxIcon {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 26px;
  }
  .meun-col .socialBoxIcon .socialIcon {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink {
    color: #ffffff;
  }
  .meun-col .socialBoxIcon .socialIcon .iconLink:hover {
    color: #E3872D;
  }
  .meun-col .arrowBox {
    position: absolute;
    top: 400px;
    left: 198px;
  }
  .meun-col .arrowBox .btnArrow {
    cursor: pointer;
    background: #E3872D;
    color: #fff;
    border-radius: 0;
    position: absolute;
  }
  .meun-col .arrowBox .btn-left {
    top: 8px;
    left: 24px;
    height: 36px;
    display: block;
  }
}
/*# sourceMappingURL=smStyle.css.map */