* {
    padding: 0;
    margin: 0;
    border: 0;
}

$blueColor: #091a32;
$orangColor: #E3872D;
body {
    font-family: "Montserrat", sans-serif;
}

.cus-container {
    padding: 0 !important;
}

.meun-col {
    background: $blueColor;
    position: fixed;
    .logoBox {
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
    }
    .menuBox {
        padding-top: 50px;
        margin-left: 60px;
        position: relative;
        .menuList {
            list-style-type: none;
            .menuItem {
                padding-bottom: 19px;
                .menuLink {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
    .socialBoxIcon {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 26px;
        .socialIcon {
            display: block;
            float: left;
            width: 35px;
            height: 35px;
            text-align: center;
            .iconLink {
                color: #ffffff;
            }
            .iconLink:hover {
                color: $orangColor;
            }
        }
    }
    .arrowBox {
        position: absolute;
        top: 400px;
        left: 280px;
        .btnArrow {
            cursor: pointer;
            background: $orangColor;
            color: #fff;
            border-radius: 0;
            position: absolute;
        }
        .btn-left {
            top: 8px;
            left: 23px;
            height: 36px;
            display: block;
        }
    }
}



.paddLeftRight {
    padding-left: 100px;
    padding-right: 100px;
}

.paddBottom {
    padding-bottom: 100px;
}
.fullBody{
    .arrowBox {
        position: fixed;
        top: 400px;
        left: 280px;
        .btnArrow {
            cursor: pointer;
            background: $orangColor;
            color: #fff;
            border-radius: 0;
            position: absolute;
        }
        .btn-right {
            top: 8px;
            left: 57px;
            height: 36px;
            display: none;
        }
    }
}
.banner {
    background: $blueColor;
    padding-top: 145px;
    padding-bottom: 155px;
    .personal-img {
        width: 220px;
        height: 220px;
        border: 8px solid #ffffff80;
        border-radius: 50%;
        margin: auto;
        .prof-img {
            width: 100%;
            border-radius: 50%;
        }
    }
    .name {
        margin: auto;
    }
    .job {
        margin: auto;
        text-align: center;
        .text {
            color: #fff;
            font-size: 24px;
        }
    }
}

#title {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    padding-top: 30px;
    span {
        color: $orangColor;
        font-weight: 500;
    }
}

#arrow {
    padding-top: 100px;
    text-align: center;
    .arrow-icon {
        color: #fff;
        text-decoration: none;
    }
    .arrow-icon:hover {
        color: #fff;
        text-decoration: none;
    }
}

.aboutSection {
    padding-top: 100px;
    background: #00000000;
    color: #000;
    .secHead {
        border-left: 6px solid $orangColor;
        padding-left: 25px;
        line-height: 1;
        margin-bottom: 100px;
        .text {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: -.5px;
            margin-bottom: 0;
        }
        .belowText {
            padding-bottom: 5px;
            margin-bottom: 0;
        }
    }
    .imgBox {
        width: 400px;
        height: 550px;
        border: 12px solid $blueColor;
        position: relative;
        .imgsty {
            width: 410px;
            height: 535px;
            position: absolute;
            right: 16px;
            bottom: 16px;
        }
    }
    .infoHead {
        line-height: 1;
        margin-bottom: 18px;
        font-size: 24px;
        font-weight: 500;
    }
    .infoText {
        color: #333;
        background: #00000000;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.5px;
        word-wrap: break-word;
        font-weight: 500;
        span {
            color: $orangColor;
        }
    }
    .mainInfo {
        padding-top: 20px;
        .personalInfo {
            margin-bottom: 25px;
            font-weight: 700;
            font-size: 13px;
            color: #000;
            min-width: 85px;
            span {
                margin-left: 30px;
                font-weight: 500;
            }
        }
        .btnSection {
            .btn {
                width: 175px !important;
                height: 50px;
                background: $orangColor;
                text-align: center;
                .btnLink {
                    padding-top: 7px !important;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

.paddZero {
    padding: 0;
}