* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.cus-container {
  padding: 0 !important;
}

.meun-col {
  background: #091a32;
  position: fixed;
  height: 655px;
}

.meun-col .logoBox {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

.meun-col .menuBox {
  padding-top: 50px;
  margin-left: 60px;
  position: relative;
}

.meun-col .menuBox .menuList {
  list-style-type: none;
}

.meun-col .menuBox .menuList .menuItem {
  padding-bottom: 19px;
}

.meun-col .menuBox .menuList .menuItem .menuLink {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.meun-col .socialBoxIcon {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 26px;
}

.meun-col .socialBoxIcon .socialIcon {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  text-align: center;
}

.meun-col .socialBoxIcon .socialIcon .iconLink {
  color: #ffffff;
}

.meun-col .socialBoxIcon .socialIcon .iconLink:hover {
  color: #E3872D;
}

.meun-col .arrowBox {
  position: absolute;
  top: 400px;
  left: 280px;
}

.meun-col .arrowBox .btnArrow {
  cursor: pointer;
  background: #E3872D;
  color: #fff;
  border-radius: 0;
  position: absolute;
}

.meun-col .arrowBox .btn-left {
  top: 8px;
  left: 24px;
  height: 36px;
  display: block;
}

.paddLeftRight {
  padding-left: 100px;
  padding-right: 100px;
}

.paddBottom {
  padding-bottom: 100px;
}

.fullBody .arrowBox {
  position: fixed;
  top: 400px;
  left: 280px;
}

.fullBody .arrowBox .btnArrow {
  cursor: pointer;
  background: #E3872D;
  color: #fff;
  border-radius: 0;
  position: absolute;
}

.fullBody .arrowBox .btn-right {
  top: 8px;
  left: 57px;
  height: 36px;
  display: none;
}

.banner {
  background: #091a32;
  padding-top: 145px;
  padding-bottom: 155px;
}

.banner .personal-img {
  width: 220px;
  height: 220px;
  border: 8px solid #ffffff80;
  border-radius: 50%;
  margin: auto;
}

.banner .personal-img .prof-img {
  width: 100%;
  border-radius: 50%;
}

.banner .name {
  margin: auto;
}

.banner .job {
  margin: auto;
  text-align: center;
}

.banner .job .text {
  color: #fff;
  font-size: 24px;
}

#title {
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  padding-top: 30px;
}

#title span {
  color: #E3872D;
  font-weight: 500;
}

#arrow {
  padding-top: 100px;
  text-align: center;
}

#arrow .arrow-icon {
  color: #fff;
  text-decoration: none;
}

#arrow .arrow-icon:hover {
  color: #fff;
  text-decoration: none;
}

.aboutSection {
  padding-top: 100px;
  background: #00000000;
  color: #000;
}

.aboutSection .secStyle {
  padding-left: 15px;
}

.aboutSection .secHead {
  border-left: 6px solid #E3872D;
  padding-left: 25px;
  line-height: 1;
  margin-bottom: 100px;
}

.aboutSection .secHead .text {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -.5px;
  margin-bottom: 0;
}

.aboutSection .secHead .belowText {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.aboutSection .imgBox {
  width: 100%;
  height: 550px;
  border: 12px solid #091a32;
  position: relative;
}

.aboutSection .imgBox .imgsty {
  width: 104%;
  height: 535px;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.aboutSection .infoHead {
  line-height: 1;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
}

.aboutSection .infoText {
  color: #333;
  background: #00000000;
  font-size: 12px;
  line-height: 2.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 600;
}

.aboutSection .infoText span {
  color: #E3872D;
}

.aboutSection .mainInfo {
  padding-top: 20px;
}

.aboutSection .mainInfo .infoList {
  list-style: none;
}

.aboutSection .mainInfo .infoList .personalInfo {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}

.aboutSection .mainInfo .infoList .personalInfo label {
  min-width: 100px;
}

.aboutSection .mainInfo .infoList .personalInfo span {
  font-weight: 500;
}

.aboutSection .mainInfo .btnSection {
  margin: 0;
}

.aboutSection .mainInfo .btnSection .btn {
  width: 175px !important;
  height: 50px;
  background: #E3872D;
  text-align: center;
  margin-right: 1px;
}

.aboutSection .mainInfo .btnSection .btn .btnLink {
  padding-top: 7px !important;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.paddZero {
  padding: 0;
}

.abilitieSection {
  background: #f5f7fd;
  padding-top: 90px;
}

.abilitieSection .secHead {
  font-size: 24px;
  color: #091a32;
  padding-bottom: 20px;
}

.abilitieSection .secText {
  color: #333;
  font-size: 15px;
}

.abilitieSection .abilitieHead {
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.abilitieSection .abilitieHead .experience {
  font-weight: 500;
}

.abilitieSection .abilitieLine {
  height: 5px;
  border-radius: 2px;
  border: 0.5px solid #091a32;
  background: #dcdee3;
  margin-bottom: 25px;
}

.abilitieSection .abilitieLine .percentageColor {
  background-color: #091a32;
  height: 100%;
  border: 0.5px solid #091a32;
}

.abilitieSection .abilitieLine .perBoot {
  width: 90%;
}

.abilitieSection .abilitieLine .perHtml {
  width: 80%;
}

.abilitieSection .abilitieLine .perCss {
  width: 80%;
}

.abilitieSection .abilitieLine .perJav {
  width: 75%;
}
/*# sourceMappingURL=style.css.map */